<mat-toolbar>IBRSC Expenses - Login</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="start center" fxFlexFill>

   <mat-card>

      <mat-card-content>

         <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap=10px>

            <div class=error>{{error}}</div>


            <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap=10px>

               <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">

                  <div fxLayout="column" fxFlexFill fxLayoutAlign="center" fxLayoutGap=10px>

                     <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="email" autocomplete="on">
                        <mat-error>Invalid email</mat-error>
                     </mat-form-field>

                     <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type="password" autocomplete="on">
                        <mat-error>Password required</mat-error>
                     </mat-form-field>

                     <div fxLayout="row" fxLayoutAlign="center">
                        <button mat-flat-button type="submit" aria-label="login">Sign In</button>
                     </div>

                     <div fxLayout="row" fxLayoutAlign="space-between">
                        <a mat-button routerLink='/auth/recover'>Forgot password?</a>
                        <a mat-button routerLink='/auth/signup'>Create account?</a>
                     </div>

                  </div>

               </form>
            </div>

            <app-horizontal-rule></app-horizontal-rule>
            
         <div class="horizontal_rule"></div>

            <h4>OR LOGIN USING</h4>

            <button mat-flat-button (click)="signInWith('Google')" fxFlexAlign="stretch">GOOGLE</button>
            <button mat-flat-button  (click)="signInWith('Facebook')"
               fxFlexAlign="stretch">FACEBOOK</button>

         </div>
      </mat-card-content>
   </mat-card>
</div>