<app-toolbar title="Change Password"></app-toolbar>

<app-form-container [error]="error">

   <form [formGroup]="form" (ngSubmit)="changePassword()">

      <div fxLayout="column" fxFlex fxLayoutAlign="space-around">

         <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" autocomplete="on">
            <mat-error>Password required</mat-error>

         </mat-form-field>

         <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" type="password">
            <mat-error>Confirm password required</mat-error>
            @if (form.errors && form.errors['passwordMissMatch']) {
               <mat-hint class=error>Passwords do not match</mat-hint>
            }
         </mat-form-field>

         <div fxLayout="row" fxLayoutAlign="space-between center">
            <button [disabled]="form.invalid" mat-raised-button color=primary type="submit"
               aria-label="Change Password">Set Password</button>
         </div>

      </div>

   </form>

</app-form-container>