<app-toolbar title="User details"></app-toolbar>

<app-form-container>

  <form (ngSubmit)="save()" novalidate fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap=10px
    [formGroup]="userForm">

    @if (showProgressBar) {
    <mat-progress-bar mode="query"> </mat-progress-bar>
    }

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput required formControlName="name">
      <mat-error>Name required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput required formControlName="email">
      <mat-error>Email required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Bank account holder</mat-label>
      <input matInput required formControlName="bankAccountHolder">
      <mat-error>Bank account details are required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Bank account number</mat-label>
      <input matInput required formControlName="bankAccountNo">
      <mat-hint>8 digits</mat-hint>
      <mat-error>8 digit account number required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Bank account sort code</mat-label>
      <input matInput required formControlName="bankSortCode">
      <mat-hint>nn-nn-nn</mat-hint>
      <mat-error>Sort code of the form nn-nn-n required</mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button [disabled]="userForm.invalid || !userForm.dirty" mat-flat-button type="submit"
        aria-label="login">Save</button>
    </div>

  </form>
</app-form-container>