<app-form-container>

   <form (ngSubmit)="submit()" [formGroup]="form" novalidate fxLayout="column" fxLayoutAlign="space-around"
      fxLayoutGap=10px>

      <mat-form-field>
         <mat-label>Contact name</mat-label>
         <input matInput required formControlName="name">
         <mat-error>Name required</mat-error>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Invoice organisation</mat-label>
         <input matInput formControlName="organisation">
      </mat-form-field>

      <mat-form-field>
         <mat-label>Email</mat-label>
         <input matInput required formControlName="email">
         <mat-error>Email required</mat-error>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Amount</mat-label>
         <input matInput required formControlName="amount" placeholder="0.00">
         <mat-error>Valid amount in pounds and pence is required</mat-error>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Description of expenditure</mat-label>
         <textarea matInput required cdkTextareaAutosize formControlName="description" #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10">
         </textarea>
         <mat-hint>Up to 10 lines</mat-hint>
         <mat-error>Description required</mat-error>
      </mat-form-field>

      <mat-form-field>
         <mat-label>State</mat-label>

         <mat-select formControlName="state">
            @for (state of invoiceStates; track invoiceStates) {
            <mat-option [value]="state">
               {{ state }}
            </mat-option>
            }
         </mat-select>
      </mat-form-field>

      <div class="indented">
         <app-google-storage-upload (uploaded)="attachmentUploaded($event)"></app-google-storage-upload>

         <app-upload-list [files]="attachments" [canDelete]="!invoice()"
            (deleted)="attachmentDeleted($event)"></app-upload-list>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
         <button [disabled]="form.invalid || !form.dirty" mat-flat-button type="submit"
            aria-label="submit">Save</button>
      </div>

   </form>
</app-form-container>