
<!-- Put form in middle of page -->
<div class=gray-bg fxFill>

    <!-- layout elements vertically with  10px gaps-->
    <div fxLayout="column" fxLayoutAlign="space-evenly center">

        <mat-card appearance="outlined">

            <mat-card-content>

                <form (ngSubmit)="submit()" [formGroup]="form" novalidate fxLayout="column" fxLayoutAlign="space-around"
                    fxLayoutGap=10px>

                    <mat-form-field>
                        <mat-label>Amount</mat-label>
                        <input matInput required class="right-align" formControlName="amount">
                        <span matTextPrefix>£&nbsp;</span>
                        <mat-error>Valid amount in pounds and pence is required</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Description of expenditure</mat-label>
                        <input matInput required formControlName="description">
                        <mat-error>Description required</mat-error>
                    </mat-form-field>

                    <div class="indented">
                        @if (!claim()) {
                        <app-upload-button (uploaded)="attachmentUploaded($event)"></app-upload-button>
                        } @else {
                        Attachments
                        }

                        <app-upload-list [files]="attachments" [canDelete]="!claim()"
                            (deleted)="attachmentDeleted($event)"></app-upload-list>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <button [disabled]="form.invalid || !form.dirty" mat-raised-button color=primary type="submit"
                            aria-label="submit">Save</button>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>

    </div>

</div>