<mat-list>

   @for (trans of transactions(); track trans.id) {
   <mat-list-item>
      <span matListItemTitle>
         <span class="gap">{{trans.date | date}}</span>
         <span class="gap">{{trans.ac.toString()}}</span>
         <span>£{{trans.amount}}</span>
      </span>
      <span matListItemLine>
         <span class="gap">Status: <b>{{trans.status}}</b></span>
         <span>{{trans.claims.length}} expense claims</span>
      </span>
      <span matListItemLine>{{trans.memo}}</span>

      <button mat-icon-button matListItemMeta (click)="edit(trans)">
         <mat-icon>edit</mat-icon>
      </button>
   </mat-list-item>
   <mat-divider></mat-divider>

   } @empty {
   <mat-list-item> No transactions to show </mat-list-item>
   }
</mat-list>