rules_version = '2';

service firebase.storage {

  function isAdmin() {
    return request.auth.uid == "mSHcPGvXG0NxYPqBlMopoKDjrty1";
   }

  // Allow attachments up to 10MB
   function claimSizeOK() {
     return request.resource.size < 10 * 1024 * 1024;
   }
    
   match /b/{bucket}/o {

    // Default rule.  Do not allow file creation
    match /{allPaths=**} {
      allow read;
      allow create: if false;
      allow write: if false;
    }

    // claims - All read and 10MB files for authenticated uses and admin
    match /claims/{userId}/{allPaths=**} {
      allow read;
      allow create: if (request.auth != null) && claimSizeOK();
      allow write: if (request.auth.uid == userId || isAdmin()) && claimSizeOK();
      allow delete: if request.auth.uid == userId || isAdmin();
    }
  }
}
