<app-toolbar title="IBRSC - Expense Claims" showBack="false">
   <a mat-flat-button color=primary [routerLink]="['/claims/add']">
      <mat-icon>add</mat-icon> New
   </a>
   <app-auth-button></app-auth-button>
</app-toolbar>

<mat-list>
   <mat-divider></mat-divider>
   <mat-list-item *ngFor="let claim of ls.claims()">
      <span matListItemTitle fxLayout fxLayoutAlign="space-between">
         <span>{{claim.dateSubmitted | date}}</span>
         @if (auth.isTreasurer()) {
         <span>{{claim.name}}</span>
         }
         <span>£{{claim.amount}}</span>
      </span>
      <span matListItemLine>
         {{claim.state}}
         @if (claim.state === 'Error' || claim.state === 'Cancelled' || claim.state === 'Rejected') {
            {{claim.reason}}
         } @else {
            {{claim.attachments.length.toString()}} attachemnts
         }
      </span>
      <span matListItemLine> {{claim.description}}</span>

      @if (auth.isTreasurer() || claim.state === 'Submitted') {
         <button mat-icon-button matListItemMeta color="primary" (click)="edit(claim)">
            <mat-icon>edit</mat-icon>
         </button>
      }
      <mat-divider></mat-divider>

   </mat-list-item>
</mat-list>
