<app-toolbar title="IBRSC - Expenses" showBack="false">
   <a mat-flat-button [routerLink]="['/claims/add']">
      <mat-icon>add</mat-icon> New
   </a>
   <app-auth-button></app-auth-button>
</app-toolbar>

<div>
   <mat-form-field appearance="outline" subscriptSizing='dynamic' class="full-width">
      <mat-icon matPrefix>search</mat-icon>
      <input #searchQuery matInput placeholder="Search" (input)="searchKeyPressed(searchQuery.value)">
   </mat-form-field>
</div>

<app-list-container>
   <mat-list>
      @for (claim of filteredClaims(); track claim.id ){
      <app-claim-list-item [claim]="claim" (edit)="edit($event)"></app-claim-list-item>
      } @empty {
      <span fxLayout="column" fxLayoutAlign="space-around center">
         <p>No claims to display<p>
         <p>Select 'New' to create an expense claim<p>
      </span>
      }
   </mat-list>
</app-list-container>
<app-claim-summary [claims]="filteredClaims()"></app-claim-summary>