<mat-toolbar color="primary">Recover Your Password</mat-toolbar>

<app-form-container>

   <form [formGroup]="recoverForm" (ngSubmit)="recover()">

      <div fxLayout="column" fxFlex fxLayoutAlign="space-around">

         <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-error>Invalid email</mat-error>
         </mat-form-field>

         <BR>
         <div fxLayout="row" fxLayoutAlign="space-between center">
            <button [disabled]="recoverForm.invalid" mat-flat-button type="submit"
               aria-label="login">Recover</button>
            <a mat-button routerLink="/auth/login">Remembered your password?</a>

         </div>
      </div>
   </form>
</app-form-container>