
$gray-background-color: rgb(209,209,209) !default;
$error-color: red;

.fill-client-area {
  width: 100%;
  height: 100%;
  background: $gray-background-color;
}

.gray{
  background: $gray-background-color;
}

.error {
    color: $error-color;
}
