<app-toolbar>Recover Your Password</app-toolbar>

    <div fxLayout="column" fxLayoutAlign="start center" fxFlexFill class=gray>

        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap=10px>

            <mat-card>

                <form [formGroup]="recoverForm" (ngSubmit)="recover()">

                    <div fxLayout="column" fxFlex fxLayoutAlign="space-around">

                        <mat-form-field>
                            <input matInput formControlName="email" type="email" placeholder="Email">
                            <mat-error>Invalid email</mat-error>
                        </mat-form-field>

                        <BR>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <button [disabled]="recoverForm.invalid" mat-raised-button color=primary type="submit" aria-label="login">Recover</button>
                            <a mat-button routerLink="/auth/login">Remembered your password?</a>

                        </div>
                    </div>
                </form>

            </mat-card>
        </div>
    </div>