
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@use 'styles.scss' as s;

$background: mat.get-theme-color(s.$theme, surface-container-high);

.summary-bar {
   position: fixed;
   bottom: 0;
   z-index: 1000;
   display: flex;
   justify-content: space-around;
   padding: 10px;
   background-color: $background;
   width: 100%;
}

.gap {
   margin-right: 30px;
}
